manifest
{
    mainScript = "cruk_ci_preprocess_scRNAseq.nf"
    nextflowVersion = ">=20.0.0"
    version = "0.1"
    recurseSubmodules = true
    author = "Ashley Sawle"
    homePage = ""
    name = "Download scRNAseq data from Genomics and process with CellRanger"
}

params {
    // SLX id for the scRNAseq data
    // Must be provided
    slxid = ""

    // The species of the reference genome
    // Either "mus_musculus" or "homo_sapiens" - must specified if referenceDir is not set
    species = ""

    // The reference genome sequence FASTA file.
    // If left unset the workflow will download the relevant reference genome
    // from 10xgenomics
    referenceDir = null

    // CellRanger software 
    // If left unset will default to the version in the container
    cellrangerDir = '/opt/cellranger'

    // Should CellRanger create a bam file
    createBam = "false"
}

process {
    container = '/home/bioinformatics/software/containers/cruk_ci_preprocess_scSeq-8.0.1.sif'

    errorStrategy = {
        task.exitStatus in [ 104, 134, 137..140 ].flatten() ? 'retry' : 'finish'
    }

    cpus = 1
    memory = 1.GB
    time = 1.hour
}

singularity {
    autoMounts = true
    runOptions = "-B /mnt"
}

profiles {
    standard
    {
        process.executor = "local"
        executor
        {
            cpus = 4
            memory = 8.GB
        }
    }

    bigserver
    {
        process.executor = "local"
        executor
        {
            cpus = 50
            memory = 128.GB
        }
    }

    cluster {
        process.executor = "slurm"
        executor {
            queueSize = 200
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }

    epyc {
        process.executor = "slurm"
        process.queue = 'epyc'
        executor {
            queueSize = 200
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true 
    }

}

